<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="ProjectUrl" value="https://digitalvaultsupport.atlassian.net"/>
  <add key="UserEmailId" value="santhoshk.vullakula-ext@jci.com"/>
  <add key="JiraApiKey" value="5QVrhuEYxf6BcQWAYxTF297C"/>
  <add key="sendGridKey" value="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"/>
  <add key="mailTo" value="santhoshv456@gmail.com"/>
  <add key="mailFrom" value="jvullas@jci.com"/>
  <add key="mailCc" value="jvullas@jci.com"/>
  <add key="timer" value="180000"/>
</appSettings>
</configuration>